body {
    background: #eee;
    font-family: Google Sans;
}

.container {
    background: #fff;
    padding: 18px;
    border-radius: 4px;
    max-width: 700px;
    margin: 10px 0;
}

.btns {
    text-align: right;
}

.btn-cancel {
    font-size: 30px;
    color: tomato;
}

.existing-orders table tbody {
    height: 400px;
    overflow-y: scroll;
}

#mapid {
    height: 180px;
}
